 .active_button{
    background-color: rgba(5, 93, 151, 0.61);
    color: white;
    padding: 0.8em 2em;
    text-decoration: none;
    text-transform: uppercase;
  }

  .default_button {
    background-color: rgba(149, 153, 155, 0.61);
    color: white;
    padding: 0.8em 2em;
    text-decoration: none;
    text-transform: uppercase;
  }

  .quit_button {
    background-color: rgba(139, 8, 8, 0.911);
    color: white;
    padding: 0.8em 2em;
    text-decoration: none;
    text-transform: uppercase;
  }

  a.active_button:hover,
  a.active_button:focus {
    text-decoration: none;
  }
 
  a.default_button:hover,
  a.default_button:focus {
    text-decoration: none;
  }

  a.quit_button:hover,
  a.quit_button:focus {
    text-decoration: none;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }