.App {
  text-align: left;
  background: white;
  color: black;
}

.App-login {
  text-align: center;
  /* text-align: left; */
  background: #000000;
  color: white;
}

.item {
  width: 580px;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}
h2{
  color: white; 
}
button{
  color: black; 
  background-color: #03D4EF;
  border-radius: 10px;
  width: 300px;
  height: 45px;
}

.item {
  width: 580px;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}

.App-logo {
  /* height: 40vmin; */
  width: 100%;
  object-fit: scale-down;
  pointer-events: none;
}
body{
  background-color: #000000;
}
/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/
/*
html{
  background-color: #000000;
}
footer{
  background-color: black;
  height: 100px;
}
div{
  background-color: #000000;
}
html{
  background-color: #000000;
}
footer{
  background-color: black;
}*/

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/
#inputNames{
  color: #61dafb;
}
textarea{
  border-radius: 10px;
  -webkit-box-shadow: inset 5px 5px 5px 0px #dddddd;
  -moz-box-shadow: inset 5px 5px 5px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  color: black;
}
.App-header {
  background-color: #000000;
  min-height: 100vh;
  /* min-height: 5vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*{
  font-family: 'Fredoka One', cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
